*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    font: normal 27px/32px 'Kalam', sans-serif;
    scroll-behavior: smooth;
    cursor: url("../img/pencil-outline.png");
}

section {
    position: relative;
}


.content {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
   
    transition: all ease-in-out .4s;
    background-color: #e7e1db;
}

.content-inner {
    width: 100%;
    max-width: 100em;
    margin: auto  auto;
    scroll-behavior: smooth;
    
}

.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    filter:brightness(80%);
   
}




.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    
}

.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    position: relative;
  
}
